body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: aqua;
}

#todoList {
    max-width: 300px;
    margin: 0 auto;
    height: auto;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px 0;
    padding: 14px;
    border: 1px solid #ccc;
}

.completed {
    text-decoration: line-through;

}

button {
    cursor: pointer;
    background-color: rgb(173, 6, 173);
    color: black;
}